**/.cache
**/.conan
**/.dockerignore
**/.git
**/.github
**/.gitignore
**/.vs
**/.venv
**/.vscode
**/build
**/ci
**/install
**/results
**/CHANGELOG.md
**/compile_commands.json
**/CONTRIBUTING.md
**/Dockerfile*
**/LICENSE
**/README.md
/test_package
