**/.git
**/.gitignore
**/.dockerignore
**/.cache
**/.conan
**/.vs
**/.vscode
**/.venv
**/build
**/install
**/coverage
**/memcheck
**/unit_tests
**/ci
**/.gitignore
**/CHANGELOG.md
**/Dockerfile
**/compile_commands.json
**/README.md
/sdk_integration_test
/test_package
